.endpoint {
  background-color: #bcbcbc;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 5%;
  &__cabecera {
    display: flex;
    align-items: center;
    padding: 20px;
  }
  &__descripcion {
    background-color: darken(#bcbcbc, 5);
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
  }
  &__verbo {
  }
  &__url {
    margin-left: 50px;
  }
  &__tipo-acceso {
    padding: 10px;
    letter-spacing: 0.1em;
    margin-left: 30px;
    font-size: 0.9em;
    color: lighten(black, 35);
  }
  &__contenedor-respuesta {
    padding: 20px;
    background-color: #fff;
    max-width: 100%;
  }
  &__respuesta {
    word-wrap: break-word;
  }
  &__boton {
    margin-bottom: 20px;
  }
}

.text-area {
  &__cabecera {
    padding: 15px;
    color: #dddddd;
    background-color: #3c4257;
    border-radius: 15px 15px 0px 0px;
    width: 100%;
  }
  &__boton {
    padding: 8px;
    transition: 0.4s;
    cursor: pointer;
    border-radius: 10px;
    background-color: darken(#3c4257, 5);
  }
  &__boton:hover {
    background-color: darken(#3c4257, 10);
    border-radius: 15px;
  }
  &__texto {
    width: 100%;
    border-radius: 0px 0px 15px 15px;
  }
  &__texto:focus {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
  }
}
