.menu {
  display: flex;
  height: 10vh;
  background-color: #171e37;

  &__enlace {
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    min-width: 10%;
    justify-content: center;
    transition: 0.3s;
    &--derecha {
      margin-left: auto;
    }
  }

  &__enlace:hover {
    background-color: darken(#171e37, 4);
    text-decoration: none;
  }
}
